name: Run Gradle Build
on:
  - push
  - pull_request

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.1.1

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Execute Gradle build
        run: |
          VERSION=$(./gradlew properties -q | grep "^version:" | awk '{print $2}')
          echo "MOD_VERSION=$VERSION" >> $GITHUB_ENV
          echo "Building version: $VERSION"
          ./gradlew build

      - name: Upload mod JAR
        uses: actions/upload-artifact@v4.3.0
        with:
          name: NecronClient-${{ env.MOD_VERSION }}.jar
          path: build/libs/NecronClient-[0-9]*.[0-9]*.[0-9]*.jar
